@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.lg-container {
  background: linear-gradient(to bottom, purple, orange);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}

.main {
  flex: 1;
  margin-top: 60px;
}
nav {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff3b;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(204, 204, 204, 0.4);
  box-shadow: 0 0 10px rgb(204, 204, 204);
  position: fixed;
  top: 0;
  z-index: 3;
  color: #fff;
}
nav ul {
  display: flex;
}
ul li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #fff;
  font-family: "Farro";
  margin-inline: 1.5rem;
  font-size: 1.5rem;
  transition: all 0.5s;
}
li a:hover {
  color: orange;
  text-decoration: overline;
}
.logo {
  font-size: 1.5rem;
  position: relative;
  top: 0px;
  left: -.4em;
}
.logo i {
  color: orange;
}
.menu-button {
  position:relative;
  top: 6px;
  right: -2.3em;
  }
#bar {
  display: none;
}
/* Default values of Sidebar start */
/* Sidebar Section */
/*my sidebar  */
      /* Sidebar Section */
      .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        /* padding-right: 1em; */
        /* padding-left:120px; */
        margin: 0;
        /* text-align: left; */
        height: 100vh;
        width: 710px;
        z-index: 999;
        background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
        backdrop-filter: blur(20px);
        box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .sidebar #hotel {
        color: orange;
        margin-left: 34px;
        /* margin-top: 2px; */
      }
      .sidebar #menus {
        border-bottom: 3px solid rgba(204, 204, 204, 0.4);
        padding-bottom: 20px;
        width: 100%;
      }
      
      
      .sidebar h1 {
        font-size: 1.8em;
        /* margin-left: 2px; */
      }
      
      #close {
        position: absolute;
        top: 20px;
        left: 27em;
        /* border: 3px solid red; */
        /* color: red; */
        background-color: rgb(226, 151, 12);
        border-radius: 7px;
        /* float: right; */
      }
     



/* wrapper style */
.wrapper {
  width: 95%;
  margin: 8px auto;
}
#search-container {
  margin: 2em 0;
  text-align: center;
  
}
#search-container input {
  background: transparent;
  width: 40%;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(204, 204, 204, 0.741);
  padding: 1rem 0.3em;
}
#search-container input:focus {
  font-size: .9em;
  color:#ffffff;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
}
#search-container input::placeholder {
  font-size: .9em;
  color:#e9e2e2;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
}

#search-container button {
  padding: 1.3em 2.2em;
  margin-left: 1em;
  background: linear-gradient(45deg,rgb(145, 133, 133),  rgb(255, 109, 255));
  color: #fff;
  border-radius: 5px;
  border: none;
  text-align: center;
  margin-top: 0.5rem;
}
div#buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: none;
}
.button-value {
  border-radius: 3em;
  padding: 1em 2.2em;
  color: purple;
  cursor: pointer;
  border: none;
}
.active {
  background-color: orangered;
  color: #fff;
}

/*===========================Prodct Section============= */

#products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2em 0;
  
}
.card {
  background-color: #ffffff3b;
  backdrop-filter: blur(10px);
  max-width: 18em;
  height: 20em;
  padding: 1em;
  border-radius: 20px;
  border: 1px solid rgba(191, 191, 206, 0.822);
  box-shadow: inset 6px 6px 15px rgba(182, 173, 187, 0.74),
  inset -6px -6px 10px rgba(245, 224, 255, 0.74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  text-align: center;
  margin: 0;
  padding: 10px;
}
img {
  width: 100%;
  align-self: baseline;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
  transition: all 0.9s ease-in-out;
}
img:hover{
  transform: scale(1.1) translateY(-10px);
  cursor: pointer;
}
.container{
  margin: 0;
  padding: 0;
  background:none;
}
.container h5 {
  font-weight: 500;
  font-size: 23px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
}
.container h6{
  color: #ffff;
  text-align: center;
  font-size: 1.5em;

}
.hide {
  display: none;
}

/* ==============Footer Section ======================== */

.footer {
  width: 100%;
  height: 34vh;
  margin-top: 5rem;

  background-color: #fff2f23b;
  backdrop-filter: blur(20px);
  display: inline;
}
.footer-header h1 {
  text-align: center;
  color: #fff;
  /* border: 2px solid black; */
}
.footer-header i {
  color: orange;
}

.footer-links {
  text-align: center;
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}
ul {
  display: flex;
  gap: 30px;
}
.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 20px;
  transition: 0.5s ease;
}

.footer-links a:hover {
  color: orange;
  text-decoration: overline;
}

.footer-icons i {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 20px;
  background-color: #000;
  padding: 5px 10px;
  border-radius: 50%;
  transition: 0.3s ease;
}
.footer-icons i:hover {
  background-color: #fff;
  color: #000;
  transform: translateY(-5px);
}
.footer-text {
  display: flex;
  flex-direction: column;
  /* border: 2px solid yellow; */
}
.footer-text p {
  margin-top: 30px;
  color: #fff;
  flex-shrink: nowrap column;
  text-align: center;
}
.footer span {
  font-weight: 300;
  font-size: 20px;
}
/* End footer 13May 2024 */






  /* =======&&&&******* MEDIA QUERIES *******&&&&&&=========   */
/* For Desktop View */
@media screen and (max-width: 1280px) {
  .container {
    background-color:goldenrod;
  }
  .hideOnMobile {
    display: none;
  }

.main {
flex: 1;
margin-top: 60px;
}
nav {
box-shadow:inset 0 0 10px rgb(204, 204, 204);
}



.logo {
font-size: 20px;
position: relative;
top: 1px;
left: -10.5em;
}
.logo i {
color: orange;
}

.navbar{
}
.menu-button {
color: #fff;
position:relative;
top: 6px;
right: -14.5em;
}

/*my sidebar  */
    /* Sidebar Section */
    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        /* padding-right: 1em; */
        /* padding-left:120px; */
        margin: 0;
        /* text-align: left; */
        height: 100vh;
        width: 710px;
        z-index: 999;
        background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
        backdrop-filter: blur(20px);
        box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .sidebar #hotel {
        color: orange;
        margin-left: 34px;
        /* margin-top: 2px; */
      }
      .sidebar #menus {
        border-bottom: 3px solid rgba(204, 204, 204, 0.4);
        padding-bottom: 20px;
        width: 100%;
      }
      
      
      .sidebar h1 {
        font-size: 1.8em;
        /* margin-left: 2px; */
      }
      
      .close {
        position: absolute;
        top: 39px;
        left: 12em;
        /* border: 3px solid red; */
        /* color: red; */
        background-color: rgb(226, 151, 12);
        border-radius: 7px;
        /* float: right; */
      }
      .sideb {
        margin-top: 20px;
        border: 2px solid green;
      }
}

@media screen and (max-width: 1200px) {
  .container {
    background-color: rgb(131, 91, 91);
  }
  .hideOnMobile {
    display: none;
  }

.main {
flex: 1;
margin-top: 60px;
}
nav {
box-shadow:inset 0 0 10px rgb(204, 204, 204);
}



.logo {
font-size: 20px;
position: relative;
top: 1px;
left: -8em;
}
.logo i {
color: orange;
}

.navbar{
}
.menu-button {
color: #fff;
position:relative;
top: 6px;
right: -12em;
}
/*my sidebar  */
    /* Sidebar Section */
    
      /* sidebar brother ,before I am setting */
      .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        /* padding-right: 1em; */
        /* padding-left:120px; */
        margin: 0;
        /* text-align: left; */
        height: 100vh;
        width: 710px;
        z-index: 999;
        background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
        backdrop-filter: blur(20px);
        box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .sidebar #hotel {
        color: orange;
        margin-left: 34px;
        /* margin-top: 2px; */
      }
      .sidebar #menus {
        border-bottom: 3px solid rgba(204, 204, 204, 0.4);
        padding-bottom: 20px;
        width: 100%;
      }
      
      
      .sidebar h1 {
        font-size: 1.8em;
        /* margin-left: 2px; */
      }
      
      #close {
        position: absolute;
        top: 20px;
        left: 27em;
        /* border: 3px solid red; */
        /* color: red; */
        background-color: rgb(226, 151, 12);
        border-radius: 7px;
        /* float: right; */
      }
     
}

/* ff */
@media screen and (max-width: 1024px) {
  .container {
    background-color: rgb(47, 47, 124);
  }
  .hideOnMobile {
    display: none;
  }

nav {
box-shadow:inset 0 0 10px rgb(204, 204, 204);
}
 

.logo {
font-size: 20px;
position: relative;
top: 1px;
left: -8em;
}
.logo i {
color: orange;
}

.navbar{
}
.menu-button {
color: #fff;
position:relative;
top: 6px;
right: -11.3em;
}

/*my sidebar  */
    /* Sidebar Section */
    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        /* padding-right: 1em; */
        /* padding-left:120px; */
        margin: 0;
        /* text-align: left; */
        height: 100vh;
        width: 710px;
        z-index: 999;
        background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
        backdrop-filter: blur(20px);
        box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .sidebar #hotel {
        color: orange;
        margin-left: 34px;
        /* margin-top: 2px; */
      }
      .sidebar #menus {
        border-bottom: 3px solid rgba(204, 204, 204, 0.4);
        padding-bottom: 20px;
        width: 100%;
      }
      
      
      .sidebar h1 {
        font-size: 1.8em;
        /* margin-left: 2px; */
      }
      
      .close {
        position: absolute;
        top: 39px;
        left: 12em;
        /* border: 3px solid red; */
        /* color: red; */
        background-color: rgb(226, 151, 12);
        border-radius: 7px;
        /* float: right; */
      }
      .sideb {
        margin-top: 20px;
        border: 2px solid green;
      }
            /* sidebar brother ,before I am setting */
            .sidebar {
              position: fixed;
              top: 0;
              right: 0;
              /* padding-right: 1em; */
              /* padding-left:120px; */
              margin: 0;
              /* text-align: left; */
              height: 100vh;
              width: 710px;
              z-index: 999;
              background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
              backdrop-filter: blur(20px);
              box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
            }
            
            .sidebar #hotel {
              color: orange;
              margin-left: 34px;
              /* margin-top: 2px; */
            }
            .sidebar #menus {
              border-bottom: 3px solid rgba(204, 204, 204, 0.4);
              padding-bottom: 20px;
              width: 100%;
            }
            
            
            .sidebar h1 {
              font-size: 1.8em;
              /* margin-left: 2px; */
            }
            
            #close {
              position: absolute;
              top: 20px;
              left: 27em;
              /* border: 3px solid red; */
              /* color: red; */
              background-color: rgb(226, 151, 12);
              border-radius: 7px;
              /* float: right; */
            }
           
}
/* ff */
@media screen and (max-width: 992px) {
    .hideOnMobile {
        display: none;
      }
    .container {
    background-color: pink;
  }
 
  nav {
    box-shadow:inset 0 0 10px rgb(204, 204, 204);
  }
 
 
  .logo {
    font-size: 20px;
    position: relative;
    top: 1px;
    left: -5.4em;
  }
  .logo i {
    color: orange;
  }
  
  .navbar{
  }
  .menu-button {
    color: #fff;
    position:relative;
    top: 6px;
    right: -8.5em;
  }
  
  /* my sidebar 768px from */
      /* Sidebar Section */
      .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        /* padding-right: 1em; */
        /* padding-left:120px; */
        margin: 0;
        /* text-align: left; */
        height: 100vh;
        width: 410px;
        z-index: 999;
        background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
        backdrop-filter: blur(20px);
        box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .sidebar #hotel {
        color: orange;
        margin-left: 34px;
        /* margin-top: 2px; */
      }
      .sidebar #menus {
        border-bottom: 3px solid rgba(204, 204, 204, 0.4);
        padding-bottom: 20px;
        width: 100%;
      }
      
      
      .sidebar h1 {
        font-size: 1.8em;
        /* margin-left: 2px; */
      }
      
      .close {
        position: absolute;
        top: 38px;
        left: -6em;
        /* border: 3px solid red; */
        /* color: red; */
        background-color: rgb(226, 151, 12);
        border-radius: 7px;
        /* float: right; */
      }
      .sideb {
        margin-top: 20px;
        border: 2px solid green;
      }
            /* sidebar brother ,before I am setting */
            .sidebar {
              position: fixed;
              top: 0;
              right: 0;
              /* padding-right: 1em; */
              /* padding-left:120px; */
              margin: 0;
              /* text-align: left; */
              height: 100vh;
              width: 410px;
              z-index: 999;
              background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
              backdrop-filter: blur(20px);
              box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
            }
            
            .sidebar #hotel {
              color: orange;
              margin-left: 34px;
              /* margin-top: 2px; */
            }
            .sidebar #menus {
              border-bottom: 3px solid rgba(204, 204, 204, 0.4);
              padding-bottom: 20px;
              width: 100%;
            }
            
            
            .sidebar h1 {
              font-size: 1.8em;
              /* margin-left: 2px; */
            }
            
            #close {
              position: absolute;
              top: 20px;
              left: 27em;
              /* border: 3px solid red; */
              /* color: red; */
              background-color: rgb(226, 151, 12);
              border-radius: 7px;
              /* float: right; */
            }
           
}

/* For Tablet View */
@media screen and (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
 
  .container {
    background:linear-gradient(to top,orange,purple);
    width: 100%;
    height: 100%;
  }
 
  nav {
    box-shadow:inset 0 0 10px rgb(204, 204, 204);
  }
 
  .logo {
    font-size: 20px;
    position: relative;
    top: 1px;
    left: -2em;
  }
  .logo i {
    color: orange;
  }
  
  .navbar{
  }
  .menu-button {
    color: #fff;
    position:relative;
    top: 6px;
    right: -4.5em;
  }
  
 
/* my sidebar editable from 555px */
    /* Sidebar Section */
    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        /* padding-right: 1em; */
        /* padding-left:120px; */
        margin: 0;
        /* text-align: left; */
        height: 100vh;
        width: 410px;
        z-index: 999;
        background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
        backdrop-filter: blur(20px);
        box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .sidebar #hotel {
        color: orange;
        margin-left: 34px;
        /* margin-top: 2px; */
      }
      .sidebar #menus {
        border-bottom: 3px solid rgba(204, 204, 204, 0.4);
        padding-bottom: 20px;
        width: 100%;
      }
      
      
      .sidebar h1 {
        font-size: 1.8em;
        /* margin-left: 2px; */
      }
      
      .close {
        position: absolute;
        top: 38px;
        left: -6em;
        /* border: 3px solid red; */
        background-color: rgb(226, 151, 12);
        border-radius: 7px;
      }
      /* sidebar 12 May 2024 at 3 22pm before brother I am setting*/
      .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        /* padding-right: 1em; */
        /* padding-left:120px; */
        margin: 0;
        /* text-align: left; */
        height: 100vh;
        width: 710px;
        z-index: 999;
        background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
        backdrop-filter: blur(20px);
        box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .sidebar #hotel {
        color: orange;
        margin-left: 34px;
        /* margin-top: 2px; */
      }
      .sidebar #menus {
        border-bottom: 3px solid rgba(204, 204, 204, 0.4);
        padding-bottom: 20px;
        width: 100%;
      }
      
      
      .sidebar h1 {
        font-size: 1.8em;
        /* margin-left: 2px; */
      }
      
      #close {
        position: absolute;
        top: 20px;
        left: 27em;
        /* border: 3px solid red; */
        /* color: red; */
        background-color: rgb(226, 151, 12);
        border-radius: 7px;
        /* float: right; */
      }
     
     /* Product */
     .container1 h5{
      /* font-weight: 500; */
      letter-spacing: 0.1em;
     }
}



@media screen and (max-width: 555px) {
    .container {
        /* background-color: chartreuse; */
        background:linear-gradient(to top,orange,purple);
        width: 100%;
        height: 100%;
       
    }
   
      nav {
        box-shadow: inset 0 0 10px rgb(204, 204, 204);
      }
     
      .logo {
        font-size: 18px;
        top: 0px;
        left: -2em;
      }
      .logo i {
        color: orange;
      }
      
      .navbar{
      }
      .menu-button {
        color: #fff;
        position:relative;
        top: 6px;
        right: -4em;
      }

/* sidebaaaaar */
        /* Sidebar Section */
        .sidebar {
          position: fixed;
          top: 0;
          right: 0;
          /* padding-right: 1em; */
          /* padding-left:120px; */
          margin: 0;
          /* text-align: left; */
          height: 100vh;
          width: 410px;
          z-index: 999;
          background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
          backdrop-filter: blur(20px);
          box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }
        
        .sidebar #hotel {
          color: orange;
          margin-left: 34px;
          /* margin-top: 2px; */
        }
        .sidebar #menus {
          border-bottom: 3px solid rgba(204, 204, 204, 0.4);
          padding-bottom: 20px;
          width: 100%;
        }
        
        
        .sidebar h1 {
          font-size: 1.8em;
          /* margin-left: 2px; */
        }
        
        .close {
          position: absolute;
          top: 39px;
          left: -6em;
          /* border: 3px solid red; */
          /* color: red; */
          background-color: rgb(226, 151, 12);
          border-radius: 7px;
          /* float: right; */
        }
        .sideb {
          margin-top: 20px;
          border: 2px solid green;
        }
              /* sidebar brother ,before I am setting */
      .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        /* padding-right: 1em; */
        /* padding-left:120px; */
        margin: 0;
        /* text-align: left; */
        height: 100vh;
        width: 410px;
        z-index: 999;
        background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
        backdrop-filter: blur(20px);
        box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .sidebar #hotel {
        color: orange;
        margin-left: 34px;
        /* margin-top: 2px; */
      }
      .sidebar #menus {
        border-bottom: 3px solid rgba(204, 204, 204, 0.4);
        padding-bottom: 20px;
        width: 100%;
      }
      
      
      .sidebar h1 {
        font-size: 1.8em;
        /* margin-left: 2px; */
      }
      
      #close {
        position: absolute;
        top: 20px;
        left: 27em;
        /* border: 3px solid red; */
        /* color: red; */
        background-color: rgb(226, 151, 12);
        border-radius: 7px;
        /* float: right; */
      }
     
/* search Section */
#search-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#search-container input {
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(204, 204, 204, 0.741);
  padding: 1rem 0.3em;
}
#search-container input:focus {
  /* background-color: rgb(224, 187, 117); */
  font-size: .9em;
  /* padding: .8em; */
  border-radius: 5px;
  border-bottom: 4px solid rgba(204, 204, 204, 0.741);

}
#search-container button {
  padding: 1.3em 2.2em;
  margin-left: 1em;
  background: linear-gradient(45deg,rgb(145, 133, 133),  rgb(255, 109, 255));
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-top: 0.5rem;
}
div#buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}
.button-value {
  border-radius: 3em;
  padding: 1em 2.2em;
  color: purple;
  cursor: pointer;
  border: none;
}
/* product */
.container1 h5{
  letter-spacing: 0;
}
}

/* For Mobile Portrait View */
@media screen and (max-width: 480px) {
    .container {
        background:linear-gradient(to top,orange,purple); 
        width: 100%;
        height: 100vh;
      }
     
      nav {
        box-shadow:inset 0 0 10px rgb(204, 204, 204);
      }
      .logo{

        font-size: 15px;
        position: relative;
        top: 0px;
        left: -1em;
        /* border: 3px solid blue; */
        
      }
      
      .navbar{
      }
      .menu-button {
        color: #fff;
        position:relative;
        top: 6px;
        right: -2.4em;
      }
        /* Sidebar Section */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  /* padding-right: 1em; */
  /* padding-left:120px; */
  margin: 0;
  /* text-align: left; */
  height: 100vh;
  width: 310px;
  z-index: 999;
  background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
  backdrop-filter: blur(20px);
  box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar #hotel {
  color: orange;
  margin-left: 25px;
  margin-top: 30px;
}
.sidebar #menus {
  border-bottom: 3px solid rgba(204, 204, 204, 0.4);
  padding-bottom: 20px;
  width: 100%;
}


.sidebar h1 {
  font-size: 20px;
}

.close {
  position: absolute;
  top: 33px;
  left: -13em;
  /* border: 3px solid red; */
  /* color: red; */
  background-color: rgb(226, 151, 12);
  border-radius: 7px;
  /* float: right; */
}
.sideb {
  margin-top: 20px;
  border: 2px solid green;
}
      /* sidebar brother ,before I am setting */
      .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
        height: 100vh;
        width: 310px;
        z-index: 999;
        background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
        backdrop-filter: blur(20px);
        box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .sidebar #hotel {
        color: orange;
        /* margin-left: 34px; */
      }
      .logo-bar{
        position: relative;
        top: 10px;
        left: -1em;
        /* border: 6px solid wheat; */
      }
      .sidebar #menus {
        border-bottom: 3px solid rgba(204, 204, 204, 0.4);
        padding-bottom: 20px;
        width: 100%;
      }
      
      
      .sidebar h1 {
        font-size: 1.8em;
        /* margin-left: 2px; */
      }
      
      #close {
        position: absolute;
        top: 20px;
        left: 27em;
        /* border: 3px solid red; */
        /* color: red; */
        background-color: rgb(226, 151, 12);
        border-radius: 7px;
        /* float: right; */
      }
     
/* search Section */
#search-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#search-container input {
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(204, 204, 204, 0.741);
  padding: 1rem 0.3em;
}
#search-container input:focus {
  background-color: rgb(224, 187, 117);
  font-size: .9em;
  /* padding: .8em; */
  border-radius: 5px;
}
#search-container button {
  padding: 1.3em 2.2em;
  margin-left: 1em;
  background: linear-gradient(45deg,rgb(145, 133, 133),  rgb(255, 109, 255));
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-top: 0.5rem;
}
div#buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.button-value {
  border-radius: 3em;
  padding: 1em 2.2em;
  color: purple;
  cursor: pointer;
  border: none;
}
#search-container input{
  text-align: center;
}
/* footer  */
.footer {
  width: 100%;
  height: 34vh;
  background-color: #5741413b;
  backdrop-filter: blur(20px);
  box-shadow: inset -1px 0px 20px rgba(238, 238, 245, 0.822);
  display: inline;
}
.footer-header h1 {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  margin-top: .25em;
  /* border: 2px solid black; */
}

.footer-links li{
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
ul {
  display: flex;
  gap: 20px;
}
.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 20px;
  transition: 0.5s ease;
  
}

.footer-links a:hover {
  color: orange;
  text-decoration: underline;

}

.footer-icons i {
  font-size: 1rem;
}
.footer-icons i:hover {
  background-color: #fff;
  color: #000;
  transform: translateY(-5px);
}
.footer-text {
  display: flex;
  flex-direction: column;
  /* border: 2px solid yellow; */
}
.footer-text p {
  color: #fff;
  font-size: 12px;
  margin-bottom: 2em;
  flex-shrink: nowrap column;
  text-align: center;
}

}

@media screen and (max-width: 320px) {
   
  .container {
    background:linear-gradient(to top,orange,purple);
   width: 100%;
   /* height: 100%; */
   overflow-y: scroll;
  }

  nav {
    box-shadow:inset 0 0 10px rgb(204, 204, 204);
  }
  .logo {
    font-size: 9.5px;
    top: 0px;
    left: 2px;
  }
  .logo i {
    color: orange;
  }
  
  .navbar{
  }
  .menu-button {
    color: #fff;
    position:relative;
    top: 6px;
    right: -7px;
  }
 
/* start */
       /* Sidebar Section */
       .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
        text-align: left;
        height: 100vh;
        width: 180px;
        z-index: 999;
        background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
        backdrop-filter: blur(20px);
        box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .sidebar #hotel {
        color: orange;
        margin-left: 25px;
        margin-top: 30px;
      }
      .sidebar #menus {
        border-bottom: 3px solid rgba(204, 204, 204, 0.4);
        padding-bottom: 20px;
        width: 100%;
      }
      
      
      .sidebar h1 {
        font-size: 15px;
      }
      
      .close {
        position: absolute;
        top: 29px;
        left: -20em;
        /* border: 3px solid red; */
        /* color: red; */
        background-color: rgb(226, 151, 12);
        border-radius: 7px;
        /* float: right; */
      }
      .sideb {
        margin-top: 20px;
        border: 2px solid green;
      }
/* end */
      /* sidebar brother ,before I am setting */
      .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        /* padding-right: 1em; */
        /* padding-left:120px; */
        margin: 0;
        /* text-align: left; */
        height: 100vh;
        width: 300px;
        z-index: 999;
        background: linear-gradient(to top, orange, rgba(150, 13, 150, 0.883));
        backdrop-filter: blur(20px);
        box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .sidebar #hotel {
        color: orange;
        /* margin-top: 2px; */
      }
      .logo-bar{
        position: relative;
        top: 10px;
        left: 2px;
        /* border: 6px solid wheat; */
      }
      .sidebar #menus {
        /* border-bottom: 3px solid rgba(204, 204, 204, 0.4); */
        padding-bottom: 20px;
        width: 70%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
      }
      .sidebar #menus a{
        /* border: 3px solid black; */
        position: relative;
        left: 50px;
      
      }
      
      
      .sidebar h1 {
        font-size: 1.2em;
        /* margin-left: 2px; */
      }
      
      #close {
        position: absolute;
        top: 20px;
        left: 27em;
        /* border: 3px solid red; */
        /* color: red; */
        background-color: rgb(226, 151, 12);
        border-radius: 7px;
        /* float: right; */
      }
     

#search-container input{
  text-align: center;
}
#search-container button {
  padding: .6em 2em;
  margin-left: 1em;
  background: linear-gradient(45deg,rgb(145, 133, 133),  rgb(255, 109, 255));
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-top: 0.5rem;
}
}
